@{
	ViewData["Title"] = "Профиль пользователя";
}

<div>
	<div class="container">
		<h1 class="mb-5">Профиль пользователя</h1>
		
		<div class="profile-group">
			<h3>Данные пользователя</h3>

			<div class="form-group">
				<input type="text" name="firstName" id="firstName" value="" />
				<label for="firstName">Имя</label>
			</div>
			<div class="form-group">
				<input type="text" name="lastName" id="firstName" value="" />
				<label for="lastName">Фамилия</label>
			</div>
			<div class="form-group">
				<input type="text" name="patronymic" id="patronymic" value="" />
				<label for="patronymic">Отчество</label>
			</div>
			<!--Переделать в модели пользователя Age на дату рождения-->
			<div class="form-group">
				<input type="date" name="birthday" id="birthday" value="" />
				<label for="birthday">Дата рождения</label>
			</div>
			<div class="form-group">
				<input type="text" name="phoneNumber" id="phoneNumber" value="" />
				<label for="phoneNumber">Номер телефона</label>
			</div>
			<div class="form-group">
				<input type="text" name="email" id="email" value="" />
				<label for="email">E-mail</label>
			</div>
			<div class="btn" data-action="save-user-data">Сохранить данные пользователя</div>
		</div>
		<div class="profile-group">
			<h3>Автомобили пользователя</h3>

			<div class="cars-list">

			</div>

			<div class="btn" data-action="add-car-to-user">Добавить автомобиль</div>			
		</div>
	</div>
</div>