@{
	ViewData["Title"] = "Профиль пользователя";
}

<div id="user-profile">
	<div class="container pb-5">
		<h1 class="my-5 text-center">Профиль пользователя</h1>
		
		<div class="d-flex flex-wrap flex-lg-nowrap gap-4">
			<div class="profile-group" data-group="user">
				<h3 class="text-center">Данные пользователя</h3>

				<div class="form-group">
					<input type="text" placeholder=" " name="firstName" id="firstName" value="" />
					<label for="firstName">Имя</label>
					<div class="error invisible" data-error="firstName">Неверное имя</div>
				</div>
				<div class="form-group">
					<input type="text" placeholder=" " name="lastName" id="lastName" value="" />
					<label for="lastName">Фамилия</label>
					<div class="error invisible" data-error="lastName">Неверная фамилия</div>
				</div>
				<div class="form-group">
					<input type="text" placeholder=" " name="patronymic" id="patronymic" value="" />
					<label for="patronymic">Отчество</label>
					<div class="error invisible" data-error="patronymic">Неверное отчество</div>
				</div>
				<!--Переделать в модели пользователя Age на дату рождения-->
				<div class="form-group">
					<input type="date" name="birthday" id="birthday" value="" />
					<label for="birthday">Дата рождения</label>
					<div class="error invisible" data-error="birthday">Неверная дата рождения</div>
				</div>
				<div class="form-group">
					<input type="text" placeholder=" " name="phoneNumber" id="phoneNumber" value="" />
					<label for="phoneNumber">Номер телефона</label>
					<div class="error invisible" data-error="phoneNumber">Неверный номер телефона</div>
				</div>
				<div class="form-group">
					<input type="text" placeholder=" " name="email" id="email" value="" />
					<label for="email">E-mail</label>
					<div class="error invisible" data-error="email">Неверный Email</div>
				</div>				
			</div>
			<div class="profile-group" data-group="cars">
				<h3 class="text-center">Автомобили пользователя</h3>

				<div class="cars-list">
				</div>

				<a href="#" onclick="return false;" data-modal="open">Добавить автомобиль</a>
			</div>
		</div>

		<div class="my-5 text-center">
			<div class="btn btn_primary" data-action="save-user-data">Сохранить</div>
		</div>
	</div>
</div>

<div class="modal-overview">
	<div class="modal-inner">
		<div class="modal-content-wrapper car-modal">
			<div class="modal-close" title="Закрыть"></div>
			<div class="cars-list mt-5">
				<div class="car" data-car-id="">
					<div class="form-group">
						<input type="text" placeholder=" " name="mark" id="mark-" value="">
						<label for="mark-">Марка</label>
						<div class="error invisible" data-error="mark">Неверная марка машины</div>
					</div>
					<div class="form-group">
						<input type="text" placeholder=" " name="model" id="model-" value="">
						<label for="model-">Модель</label>
						<div class="error invisible" data-error="model">Неверная модель машины</div>
					</div>
					<div class="form-group">
						<input type="text" placeholder=" " name="color" id="color-" value="">
						<label for="color-">Цвет</label>
						<div class="error invisible" data-error="firstName">Неверный цвет машины</div>
					</div>
					<div class="form-group">
						<input type="text" placeholder=" " name="number" id="number-" value="">
						<label for="number-">Номер</label>
						<div class="error invisible" data-error="number">Неверный номер машины</div>
					</div>

				</div>
			</div>
			<div class="mt-4 text-center">
				<div class="btn btn_secondary" data-action="add-car-to-user">Добавить</div>
			</div>
		</div>
	</div>
</div>