services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_MULTIPLE_DATABASES: ${POSTGRES_MULTIPLE_DATABASES}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db:/docker-entrypoint-initdb.d
    networks: [hpm-network]

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    hostname: ${RABBITMQ_HOSTNAME}
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    ports:
      - "${RABBITMQ_PORT_AMQP}:5672"
      - "${RABBITMQ_PORT_HTTP}:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks: [hpm-network]
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5  

  hpm-system:
    image: ${DOCKER_REGISTRY-}hpmsystem
    build:
      context: .
      dockerfile: HPM-System/Dockerfile
    depends_on: [postgres, rabbitmq]
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=HPM-System;Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
      - IdentityServer__Authority=https://localhost:${IDENTITYSERVER_HTTPS}
      - RabbitMQ__Host=${RABBITMQ_HOSTNAME}
      - RabbitMQ__Port=${RABBITMQ_PORT_AMQP}
      - RabbitMQ__Username=${RABBITMQ_USER}
      - RabbitMQ__Password=${RABBITMQ_PASS}
    ports:
      - "${HPM_SYSTEM_HTTP}:8080"
      - "${HPM_SYSTEM_HTTPS}:8081"
    networks: [hpm-network]

  hpm-system.identityserver:
    image: ${DOCKER_REGISTRY-}hpmsystemidentityserver
    build:
      context: .
      dockerfile: HPM-System.IdentityServer/Dockerfile
    depends_on: [postgres, rabbitmq]
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:8081;http://+:8080
      - ASPNETCORE_HTTPS_PORT=8081
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=IdentityServer;Username=postgres;Password=Morr92631043
      - UserService__BaseUrl=http://hpm-system.userservice:8080
      - ApiSettings__BaseUrl=http://hpm-system.identityserver:8080
      - RabbitMQ__Host=${RABBITMQ_HOSTNAME}
      - RabbitMQ__Port=${RABBITMQ_PORT_AMQP}
      - RabbitMQ__Username=${RABBITMQ_USER}
      - RabbitMQ__Password=${RABBITMQ_PASS}
    ports:
      - "${IDENTITYSERVER_HTTP}:8080"
      - "${IDENTITYSERVER_HTTPS}:8081"
    networks: [hpm-network]

  hpm-system.userservice:
    image: ${DOCKER_REGISTRY-}hpmsystemuserservice
    build:
      context: .
      dockerfile: HPM-System.UserService/Dockerfile
    depends_on: [postgres, rabbitmq]
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=UserService;Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
      - RabbitMQ__Host=${RABBITMQ_HOSTNAME}
      - RabbitMQ__Port=${RABBITMQ_PORT_AMQP}
      - RabbitMQ__Username=${RABBITMQ_USER}
      - RabbitMQ__Password=${RABBITMQ_PASS}
    ports:
      - "${USERSERVICE_HTTP}:8080"
      - "${USERSERVICE_HTTPS}:8081"
    networks: [hpm-network]

  hpm-system.apartmentservice:
    image: ${DOCKER_REGISTRY-}hpmsystemapartmentservice
    build:
      context: .
      dockerfile: HPM-System.ApartmentService/Dockerfile
    depends_on: [postgres, rabbitmq]
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ASPNETCORE_URLS=https://+:8081;http://+:8080
      - ASPNETCORE_HTTPS_PORT=${APARTMENTSERVICE_HTTPS}
      - ASPNETCORE_HTTP_PORT=${APARTMENTSERVICE_HTTP}
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=ApartmentService;Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
      - RabbitMQ__Host=${RABBITMQ_HOSTNAME}
      - RabbitMQ__Port=${RABBITMQ_PORT_AMQP}
      - RabbitMQ__Username=${RABBITMQ_USER}
      - RabbitMQ__Password=${RABBITMQ_PASS}
      - Services__UserService__BaseUrl=http://hpm-system.userservice:8080
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${CERT_PASSWORD}
    ports:
      - "${APARTMENTSERVICE_HTTP}:8080"
      - "${APARTMENTSERVICE_HTTPS}:8081"
    volumes:
      - ./certs:/https:ro
    networks: [hpm-network]

  hpm-system.notificationservice:
    image: ${DOCKER_REGISTRY-}hpmsystemnotificationservice
    build:
      context: .
      dockerfile: HPM-System.NotificationService/Dockerfile
    depends_on:
        rabbitmq:
            condition: service_healthy
        postgres:
            condition: service_started
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=NotificationService;Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
      - RabbitMQ__HostName=${RABBITMQ_HOSTNAME}
      - RabbitMQ__Port=${RABBITMQ_PORT_AMQP}
      - RabbitMQ__Username=${RABBITMQ_USER}
      - RabbitMQ__Password=${RABBITMQ_PASS}
      - ASPNETCORE_URLS=https://+:8081;http://+:8080
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${CERT_PASSWORD}
    ports:
      - "${NOTIFICATIONSERVICE_HTTP}:8080"
      - "${NOTIFICATIONSERVICE_HTTPS}:8081"
    volumes:
      - ./certs:/https:ro
    networks: [hpm-network]

  minio:
    image: minio/minio:latest
    container_name: minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "${MINIO_API_PORT}:9000"
      - "${MINIO_CONSOLE_PORT}:9001"
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    networks: [hpm-network]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

  hpm-system.filestorageservice:
    image: ${DOCKER_REGISTRY-}hpmsystemfilestorageservice
    build:
      context: .
      dockerfile: HPM-System.FileStorageService/Dockerfile
    depends_on:
      postgres:
        condition: service_started
      minio:
        condition: service_healthy
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ASPNETCORE_URLS=https://+:8081;http://+:8080
      - ASPNETCORE_HTTPS_PORT=${FILESTORAGESERVICE_HTTPS}
      - ASPNETCORE_HTTP_PORT=${FILESTORAGESERVICE_HTTP}
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=FileStorageService;Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
      - MinIO__Endpoint=minio:9000
      - MinIO__AccessKey=${MINIO_ROOT_USER}
      - MinIO__SecretKey=${MINIO_ROOT_PASSWORD}
      - MinIO__Region=us-east-1
      - FileUpload__MaxFileSizeMB=50
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${CERT_PASSWORD}
    ports:
      - "${FILESTORAGESERVICE_HTTP}:8080"
      - "${FILESTORAGESERVICE_HTTPS}:8081"
    volumes:
      - ./certs:/https:ro
    networks: [hpm-network]

  hpm-system.eventservice:
      image: ${DOCKER_REGISTRY-}hpmsystemeventservice
      build:
        context: .
        dockerfile: HPM-System.EventService/Dockerfile
      depends_on: [postgres, rabbitmq]
      environment:
        - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
        - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=EventService;Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
        - RabbitMQ__HostName=${RABBITMQ_HOSTNAME}
        - RabbitMQ__Port=${RABBITMQ_PORT_AMQP}
        - RabbitMQ__Username=${RABBITMQ_USER}
        - RabbitMQ__Password=${RABBITMQ_PASS}
        - Services__ApartmentService__BaseUrl=http://localhost:8080
        - Services__UserService__BaseUrl=http://localhost:8080
        - Services__FileStorageService__BaseUrl=http://localhost:8080
      ports:
        - "${EVENTSERVICE_HTTP}:8080"
        - "${EVENTSERVICE_HTTPS}:8081"
      volumes:
         - ./certs:/https:ro
      networks: [hpm-network]

volumes:
  postgres_data:
  rabbitmq_data:
  minio_data:

networks:
  hpm-network:
