.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.btn-primary {
    background-color: var(--light-orange);
    color: white;

    &:hover {
        background-color: var(--orange);
    }
}

.btn-secondary {
    background-color: var(--light-green);
    color: white;
    border: 1px solid rgba(255, 255, 255, .5);

    &:hover {
        background-color: var(--green);
        border: 1px solid rgba(255, 255, 255, 1);
    }
}

.btn-danger {
    background-color: #EF4444;
    color: white;

    &:hover {
        background-color: #DC2626;
    }
}
