.event-item {
    text-decoration: none;
    cursor: pointer;
    color: #000;
    background: linear-gradient(135deg, #ffe0ec 0%, #ffaed5 100%);
    border-radius: 8px;
    padding: 1rem;
    border-left: 4px solid #f769a2;
    display: block;

    &:hover {
        color: #000;
    }
}