.profile-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: var(--card-gap);
    border-radius: 24px;
    border: 1px solid #bfbfbf;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.form-group {
    position: relative;
    width: 100%;

    input {
        border-radius: 5px;
        border: 1px solid #c5c5c5;
        padding-left: 5px;
        width: 100%;

        &:disabled {
            border-color: transparent;
        }
    }

    input[type="checkbox"] {
        width: auto;
        border: none;
    }

    label {
        transition: var(--standard-transition);
    }

    input[type="text"] + label,  input[type="number"] + label {
        position: absolute;
        top: 0;
        left: 5px;
        color: rgba(0,0,0,.5);
    }

    input[type="text"]:focus + label, input[type="number"]:focus + label {
        top: var(--label-focus-top);
        opacity: .7;
        font-size: var(--label-focus-size);
    }

    input[type="text"]:not(:placeholder-shown) + label, input[type="number"]:not(:placeholder-shown) + label {
        top: var(--label-focus-top);
        font-size: var(--label-focus-size);
    }

    input[type="date"] + label {
        position: absolute;
        top: var(--label-focus-top);
        left: 5px;
        color: rgba(0,0,0,.5);
        font-size: var(--label-focus-size);
    }

    select + label {
        position: absolute;
        top: 0;
        left: 5px;
        color: rgba(0,0,0,.5);
    }

    select:not(:placeholder-shown) + label {
        top: var(--label-focus-top);
        font-size: var(--label-focus-size);
    }

    .error {
        color: red;
        font-size: 10px;
        padding-left: 5px;
        line-height: 120%;
    }
}

.checkbox-group-flex {
    display: flex;
    gap: var(--card-gap);
    width: 100%;
    
    @media (max-width: 767px) {
        flex-wrap: wrap;
    }

    .form-group {
        width: auto;
        display: flex;
        gap: .5rem;
    }
}

.car, .apartment {
    display: flex;
    gap: 16px;
    
    @media (max-width: 767px) {
        flex-wrap: wrap;
    }
}