<div id="vote-profile" class="vote">
	<div class="container py-5">
		<div class="profile-group dashboard-card my-4" data-group="vote">
			<h3 class="card-header card-header_vote w-100">Профиль голосования</h3>
			<div class="w-100 text-start">
				<h3 id="question-put" class="my-4"></h3>
				<div id="voting-end"> <span id="voting-end-time"></span></div>
			</div>			

			<div data-group="voting-options">
				
			</div>			
		</div>
		<div class="mt-4 text-center">
			<div class="btn btn_primary" data-action="send-vote">Проголосовать</div>
		</div>
	</div>
</div>