<div id="vote-profile">
	<div class="container pb-5">
		<h1 class="my-5 text-center">Все голосования пользователя</h1>

		<div class="votings-by-user-list">
		</div>

		<div class="text-center">
			<a href="/vote/create">Создать новое голосование</a>
		</div>
	</div>
</div>