<div id="notification-profile">
	<div class="container pb-5">
		<h1 class="my-5 text-center">Все уведомления пользователя</h1>

		<div class="notifications-by-user-list">
		</div>

		<div class="text-center">
			<a href="/notification/create">Создать новое уведомление</a>
		</div>
	</div>
</div>