<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HPM_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/dist/app.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HPM_System</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Элементы для авторизованных пользователей -->
                    <div data-auth-required class="auth-required d-flex justify-content-center gap-3">
                        <a data-user-id href="/user/" class="nav-link">Профиль</a>
                        <a data-user-id href="/apartment/by-user/" class="nav-link">Квартиры</a>
                        <a data-user-id href="/house/by-user/" class="nav-link">Дома</a>
                    </div>

                    <!-- Информация о пользователе и кнопки управления -->
                    <div class="d-flex gap-3 align-items-center">
                        <!-- Для авторизованных -->
                        <div data-auth-required class="auth-required user-info">
                            <span data-user-email>пользователь</span>
                        </div>

                        <button data-logout-btn class="btn btn_danger auth-required" style="display: none;">
                            Выйти
                        </button>

                        <!-- Для неавторизованных -->
                        <a href="https://localhost:55676/auth/login" " data-login-btn class="btn btn_secondary guest-only">
                            Войти
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">        
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - HPM_System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/app.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
