<div id="apartment-profile">
	<div class="container pb-5">
		<h1 class="my-5 text-center">Квартиры пользователя</h1>

		<div class="d-flex flex-wrap flex-lg-nowrap gap-4">
			<div class="profile-group profile-group_aparment" data-group="apartment">
				<h3 class="text-center">Данные пользователя</h3>
			</div>
		</div>
	</div>
</div>