<div id="apartment-profile">
	<div class="container py-5">
		<div class="d-flex flex-wrap flex-lg-nowrap gap-4">
			<div class="profile-group profile-group_aparment" data-group="apartment">
				<h3 class="text-center">Создать квартиру</h3>
			</div>
		</div>
	</div>
</div>