<div id="event-profile">
	<div class="container py-5">
		<div class="d-flex flex-wrap flex-lg-nowrap gap-4">

			<div class="profile-group dashboard-card my-4" data-group="event">

				<h3 class="card-header card-header_event w-100">Создать событие</h3>

				<div class="d-flex flex-wrap flex-lg-nowrap gap-3 w-100">
					<div>
						<div class="d-flex flex-wrap flex-md-nowrap gap-3 h-100">
							<div class="preview-container d-none">
								<img id="previewImage" class="preview-image" alt="Предпросмотр">
								<button id="removeBtn" class="btn btn_danger">Удалить</button>
								<div id="errorMessage" class="error"></div>
							</div>

							<div class="upload-area" id="imgDropArea">
								<div>Перетащите изображение сюда или нажмите для выбора</div>
								<input type="file" id="fileInput" accept=".jpg,.jpeg,.png,.webp,.svg,.gif">
							</div>
						</div>

						<div class="form-group d-none">
							<input type="text" placeholder="" name="ImageUrl" id="ImageUrl" value="">
							<label for="ImageUrl">url картинки</label>
							<div class="error invisible" data-error="title">неверный url</div>
						</div>
					</div>

					<div class="w-100 d-flex flex-column gap-3">
						<div class="form-group">
							<input type="datetime-local" name="eventDateTime" id="eventDateTime" value="" />
							<label for="eventDateTime">Дата и время события</label>
							<div class="error invisible" data-error="EventDateTime">Неверная дата</div>
						</div>

						<div class="form-group">
							<input type="text" placeholder="" name="title" id="title" value="">
							<label for="title">Заголовок события</label>
							<div class="error invisible" data-error="title">Неверный заголовок</div>
						</div>

						<div class="form-group mb-3" style="line-height: 100%;">
							<textarea type="textarea" placeholder="" name="message" id="message" value=""></textarea>
							<label for="message">Подробности события</label>
						</div>

						<div class="form-group">
							<input type="text" placeholder="" name="place" id="place" value="">
							<label for="place">Место проведения</label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<select id="houseId"></select>
					<label for="houseId">Дом</label>
				</div>

				<div class="text-center">
					<div class="btn btn_primary" data-action="save-event-data">Сохранить</div>
				</div>
			</div>
		</div>
	</div>
</div>
