<div id="event-profile">
	<div class="container pb-5">
		<h1 class="my-5 text-center">Все события пользователя</h1>

		<div class="events-by-user-list">
		</div>

		<div class="text-center">
			<a href="/event/create">Создать новое событие</a>
		</div>
	</div>
</div>