@{
	ViewData["Title"] = "Дома пользователя";
}

<div id="house-profile">
	<div class="container container_900 pb-5">
		<h1 class="my-5 text-center">Все дома пользователя</h1>

		<div class="houses-list">
			
		</div>
	</div>
</div>